<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>190243120045</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SingServlet</display-name>
    <servlet-name>SingServlet</servlet-name>
    <servlet-class>singerServlet.SingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingServlet</servlet-name>
    <url-pattern>/SingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateTime</display-name>
    <servlet-name>DateTime</servlet-name>
    <servlet-class>dateTime.DateTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateTime</servlet-name>
    <url-pattern>/DateTime</url-pattern>
  </servlet-mapping>
</web-app>